#python bağımlılıklarıymış benim buraya yazdıklarımı terminalden pip install -r requirements.txt komutuyla yükleyebilirsiniz canlar

fastapi
uvicorn
python-dotenv
firebase-admin
google-generativeai
httpx

# burdakiler kütühane paket şeuleri kodun tamamını main.pyden çalışırmak için terminalde önce pip install -r requirements.txt yazıp indirmek gerekiyo kolaylık olsun diye yaptım tm 
