#python bağımlılıklarıymış benim buraya yazdıklarımı terminalden pip install -r requirements.txt komutuyla yükleyebilirsiniz canlar

fastapi              # web framework, API endpoint'leri için
uvicorn              # FastAPI'yi çalıştıran sunucu
python-dotenv        # .env dosyasından API key okumak için
firebase-admin       # Firebase bağlantısı: Firestore veritabanı + Authentication token doğrulama
google-generativeai  # Gemini AI: duygu analizi ve olumlamalar için
httpx                # ZenQuotes API'ye istek atmak için

# burdakiler kütühane paket şeuleri kodun tamamını main.pyden çalışırmak için terminalde önce pip install -r requirements.txt yazıp indirmek gerekiyo kolaylık olsun diye yaptım tm 
